@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.position {
  position: fixed;
  bottom: 0;
}

.layout {
  background-color: #0B192C;
  height: 100%!important;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
}

#card .card-content h5{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-image {
  height: 25rem !important;
}

.image-profile {
  width: 150px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  object-fit: cover;
}

.image-detail {
  width: 100%;
  height: 40rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}